@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

body {
  margin: 0;
  background-color: white;
  font-weight: 200;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var( --color-bg);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-transform: uppercase;
}

.credit-card {
  width: 380px;
  margin: 0;
  margin-left: -45px;
  height: 210px;
  perspective: 1000px;
  background-color: transparent;
}

.credit-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.credit-card-front, .credit-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: var( --gradient-bar);
  padding: 20px;
}

.credit-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credit-card-back {
  transform: rotateY(180deg);
  margin: 0;
  margin-left: -35px;
}

#card-number {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 435px;
  margin-top: 50px;
}

input::placeholder {
  color:gray;
  font-weight: 100;
}

#card-type {
  text-align: right;
  height: 70px;
}

#card-type svg {
  width: 70px;
  height: 60px;
}

.text-input {
  padding: 15px;
  padding-left: 0px;
  box-shadow: 0;
  border: 0;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none;
  margin:5px;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #ff0866;
  font-weight: 100;
}

.input-label {
  font-size:12px;
  margin-top:10px;
  margin-left: 5px;
  margin-bottom: -10px;
  color: white;
}



#card-expiration {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 50%;
  height: 20px;
  display: inline-block;
}

#validthru {
  font-size:7.5px;
  width: 25px;
  display: inline-block;
  margin-top: 1px;
}

#card-expiration p {
  padding: 0;
  margin: 0;
}

#card-holder-name {
  font-size: 20px;
  height: 20px;
  display: inline-block;
}

#card-number {
  text-align: center;
  height: 20px;
  display: inline-block;
}

.card-stripe {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 75px;
  margin-top: 20px;
  margin-left: -20px;
}

.card-sig-container {
  margin-top: 120px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.signature {
  font-family: 'Homemade Apple', cursive;
  text-transform: lowercase;
  overflow: hidden;
  z-index: 9999;
}

.credits {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
}