.universities{
height: auto;
background-color: #ece3e3;
}

.uni_table,.phone_uni_table{
border-spacing:0.7rem;
width: auto;

}

.i1 {
position: relative;
border-radius: 1rem;
border: 0.1px solid #c4bcbc;
background-color: #ece3e3;
width: 18rem;
height: 18rem;
overflow: hidden;
}

.th1Icon {
position: relative;
width:100%;
height: 13rem;
object-fit: cover;
}

.universityAbcCityContainer {
position: relative;
margin-top: 0.5rem;
left: 1.17rem;
display: inline-block;
width: 100%;
height: 2.94rem;
font-weight: 600;
font-size: 14px;
}
.universityAbc {
margin: 0;
font-weight: 800;
}
.city {
margin: 0;
font-size: var(--font-size-mini);
}


@media only screen and (max-width: 700px) {
.uni_table {
    display: none;
}
}

@media only screen and (min-width: 700px) {

.phone_uni_table{
    display: none;
}
}
