.signin{

  display: flex;
  justify-content: center;
  height: auto;
  min-height: 600px;
  align-items: center;
  padding: 3rem;

}
.error {
  color: red;
}


.outside{

  padding: 2rem;
  width: 90%;
  background-color: red;
  min-height: 500px;

  display: flex;
  background: #040C18;
  mix-blend-mode: normal;
  opacity: 0.8;
  border: 1px solid #FFFCFC;
  backdrop-filter: blur(2px);

}
.lefte{

    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:100px;
    background: linear-gradient(103.22deg, #72B3C1 1.3%, #8F79CD 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


}
.lefte h1{



}
.lefte p{



}
.righte{

  flex-basis: 50%;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;

}

.sign{
  background: #040C18;
  mix-blend-mode: screen;
  opacity: 0.6;
  border: 2px solid #FFFCFC;
  backdrop-filter: blur(2px);
  height: 90%;
  width: 80%;
  padding: 20px 20px;

  display: flex;

  align-items: center;


flex-direction: column;




}

.sign h1{

  background: linear-gradient(103.22deg, #FFFFFF -13.86%, #FFFFFF -13.85%, #FEFEFE 102.58%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
font-size: 76px;


}


@media screen and (max-width: 800px) {

  .outside{
    flex-direction: column;
    height: 1000px;

  }
  .lefte{
    padding: 10px;


  }

  .sign h1{

    font-weight: 800;
  font-size: 56px;
  line-height: 45px;

  }


}
.information{
  padding-left: 30px;
  margin-top: 20px;
  width: 100%;
  color: white;


}
.information label,input{
  display: block;
  margin-top: 10px;
  font-weight: 900;
}
.information label{

  background: linear-gradient(103.22deg, #FFFFFF -13.86%, #FFFFFF -13.85%, #FEFEFE 102.58%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.information input,select{
  width: 85%;
  padding: 8px 10px;
  border-radius: 10px;


}

.next{
  width: 85%;

  margin-top: 50px;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #27A6F4;
  color: white;
}

.upload{
  width: 85%;

  margin-top: 10px;
  border-radius: 10px;
  padding: 8px 10px;
  /* padding-top: 0%; */
  background-color: #27A6F4;
  color: white;

}
.information select{

  margin-top: 10px;

}


.autocomplete{
  color: wheat;

}

.gmap_iframe{
  height: 250px;
  /* width:320px; */
}













.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.addmorediv{
  display: flex;
  /* background-color: #27A6F4; */
 margin-top: 50px;
 gap: 10px;
 font-size: 14px;
 color: white;
}
.addmorediv_emails{
  display: flex;
  /* background-color: #27A6F4; */
 margin-top: 10px;
 margin-bottom: 30px;
 gap: 10px;
 font-size: 14px;
 color: white;
}

.addmorebtn{
  order: 1;
  flex:10%;
  background-color: #040C18;
  border: 0px;
}
.addmorebtnimg{
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 10%;
  margin-top: 5px;
}
.AddmoreText{
  order: 2;
  flex:90%;
}

.DegreeList_Ul{
  display: flex;
  flex-wrap: wrap;
  font-size: 8px;
  margin-top: 20px;

}
.SelectedDegreeList_Ul{
  display: flex;
  flex-wrap: wrap;
  font-size: 8px;
  margin-top: 20px;
  background-color: #374459;

}

.DegreeList_li{
  list-style: none;
  padding: 5px;
  margin-top: 5px;
  margin-left: 8px;

  background-color: #27A6F4;
  border-radius: 0.5rem;

}


.error{

  margin-top: 5px ;
  color:red;

}

@media only screen and (max-width: 700px) {

  .signin{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
   
  }
  
  .outside{
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sign{
    width: 400px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7rem;
    padding: 2rem;
  }
}