.editProfile
{
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.editProfile__header h1{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}


.editProfile__header-labels
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5rem;
}

.editProfile__header-label
{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;

}

.editProfile__header-label label
{
    margin-left: 10px;
}

.editProfile__body-containter
{
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
}
.editProfile__body-containter h2{
    font-weight: 500;
}

.editProfile__body-containter-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editProfile__body-containter button{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.editProfile__body-containter hr{
    margin-top: 1rem;
}

.editProfile__body-containter-body h1{
    font-size: 1.6rem;
    font-weight: 700;
}

.editProfile__body-containter-body p{
    color: #757575;
}

.editProfile__body-containter-body 
{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.editProfile__profile-info
{
    margin: 1rem;
}

.editProfile__profile-summary p{
    text-align: justify;
    margin: 1rem;
    color: #757575;
    font-style: italic;
    font-size: large;
    font-weight: 400;
}

.editProfile__profile-education-item
{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #757575;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}
.editProfile__profile-education-item h1{
    font-size: 1.3rem;
    font-weight: 500;
}

.editProfile__profile-education-item p{
    color: #757575;
    font-size: 1.1rem;
    font-weight: 400;
}

.editProfile__profile-preferences
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    margin: 0.7rem;
}
.editProfile__profile-preferences-item
{
    margin: 1rem;
    padding: 1rem;
    background-color: #0085FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
    width: 70%;
}
.editProfile__profile-preferences-item p{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}


.editProfile__profile-info-editing-c
{
  font-size: large;
}
.editProfile__profile-info-editing-c label
{
  display: inline-block;
  
}
.editProfile__profile-info-editing
{
   text-align: center;
}
.editProfile__profile-info-editing-c input
{
  margin-left: 2rem;
  display: inline-block;
  height: 30px;
  font-size: large;
}
.editProfile__profile-summary-editing{
  width:100%;
  max-width: 870px;
  margin: 1rem;
  font-family: var(--font-family);
  font-size: large;
  font-style: italic;
}
.editProfile__profile-info-editing button
{
    background-color: #0085FF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
}
.editProfile__profile-education-item button{
  margin-left: 1rem;
}
@media only screen and (max-width: 768px) {
    .editProfile {
      width: 90%;
      padding: 5px;
    }
    
    .editProfile__header-labels 
    {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.7rem;
      margin: 1rem 0.2rem;
     
    }
    .editProfile__header-labels label{
        font-size: 0.8rem;
    }
  .editProfile__header h1 {
    font-size: 1.5rem;
  }

    .editProfile__body-containter {
      padding: 0.5rem;
    }
    
    .editProfile__body-containter-head h2{
        margin: 0.5rem;
    }
    .editProfile__body-containter-head {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 0.5rem;
    }
  
    .editProfile__body-containter button {
      font-size: 1rem;
    }
  
    .editProfile__body-containter-body {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
    .editProfile__profile-info{
            margin: 0.5rem;
            text-align: center;
    }

    .blur {
      filter: blur(5px);
    }
    
    .cropDialog {
      width: 100px;
      height: 100px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: white;
      padding: 20px;
      border: 1px solid black;
    }
    
    .editProfile__profile-pic
    {
      background-color: #000;
      color: #0085FF;
    }
    .editProfile__profile-pic img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  
    .editProfile__profile-summary p {
        margin: 0.5rem 0;
        max-height: 200px;
        overflow: auto;
        padding: 10px;
        box-sizing: content-box;
      }
      
      
    .editProfile__profile-education-item {
      margin: 0.5rem;
      padding: 0.5rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  
    .editProfile__profile-education-item h1 {
      font-size: 1.1rem;
    }
  
    .editProfile__profile-education-item p {
      font-size: 0.9rem;
    }
  
    .editProfile__profile-preferences {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
  
    .editProfile__profile-preferences-item {
      margin: 0.5rem;
      padding: 0.5rem;
      width: 90%;
    }
  
    .editProfile__profile-preferences-item p {
      font-size: 1rem;
    }
  }
  .editProfile__profile-preferences p
  {
      font-size: 1rem;
      font-weight: 500;
      color: #757575;
      
  }

  .editProfile__profile-education-cont
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }