
.mainpage{

  background-color: #040c18;
  width: auto;
  height: auto;
  overflow: hidden;

}
.mysvg{
  position: absolute;
  right: 0px;
  top:0px;
  z-index: 0;
}

.blur{
  position: absolute;
  left: -20rem;
  top:-20rem;
  z-index: 0;
}

.upper_layer{
  position: relative;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  height: auto;
  /* background-color: #031b34; */

}
.picturebox{
  /* z-index: 1; */
width: auto; 
height: 35.56rem;
/* background-color: blue; */
overflow: hidden;
  
}

.studentsInAStudyGroup008Icon {
width: auto;
top: 0;
left: 0;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
width: 100%; 
height: 35.56rem;
overflow: hidden;
object-fit: cover;
}

.yourAcademic {
  margin: 0;
}
.heading { /* Uses absolute positioning to fit heading */
  color: #040c18;
  margin-top: -15rem;
   background-color: transparent;
  
  position: relative;
  /* margin-top: 16rem; */
  left: 5.6rem;
  font-size: 250%;
    font-weight:800;
    font-family: var(--font-manrope);
 
}


@media only screen and (max-width: 700px) {

}
/* Phone size */
@media only screen and (max-width: 700px) {

  .heading { /* Uses absolute positioning to fit heading */
    color: #040c18;
    margin-top: -10rem;
     background-color: transparent;
    
    position: relative;
    /* margin-top: 16rem; */
    left: 3.5rem;
    font-size: 180%;
      font-weight:800;
      font-family: var(--font-manrope);
   
  }

  .mysvg{
    position: absolute;
    right: 0px;
    top: -90%;
    z-index: 0;
  }
  .blur{
    display: none;
  }
  .picturebox
  {
    
    height: 20rem;
    overflow: hidden;
  }
    
  .studentsInAStudyGroup008Icon 
  {
   
    height: 20rem;
    overflow: hidden;
  }
  
}

@media only screen and (min-width: 700px) and (max-width: 992px) {

  .heading { /* Uses absolute positioning to fit heading */
    color: #040c18;
    margin-top: -12rem;
     background-color: transparent;
    
    position: relative;
    /* margin-top: 16rem; */
    left: 3.5rem;
    font-size: 180%;
      font-weight:800;
      font-family: var(--font-manrope);
   
  }

  .picturebox
  {
    height: 28rem;
    overflow: hidden;
  }
    
  .studentsInAStudyGroup008Icon 
  {
    height: 28rem;
    overflow: hidden;
  }
}