@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(103.22deg, #41BDD8 -13.86%, #8C67F4 99.55%), #FFFFFF;
  --gradient-bar: linear-gradient(103.22deg, #41BDD8 -13.86%, #8C67F4 99.55%), #FFFFFF;
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-button-primary: #27A6F4;
  --color-button-hover: #2785F4;
  --color-text: #81AFDD;
  --color-subtext: #41BDD8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
}
