.edulink__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
    padding: 2rem;
    margin-top: 5rem;
}

.edulink__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.edulink__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    cursor: pointer;
}

.edulink__footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.edulink__footer-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
    text-align: left;
}

.edulink__footer-links div {
    width: 250px;
    margin: 1rem;
}

.edulink__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.edulink__footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.edulink__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.edulink__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.edulink__footer-links_div h4 {
    font-size: 50px;
    line-height: 50px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.edulink__footer-links_div p {
    font-size: 20px;
    line-height: 25px;
    font-family: var(--font-family);
    color: #fff;
    
    margin: 0.5rem 0;
    cursor: pointer;
}

.edulink__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.edulink__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .edulink__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .edulink__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .edulink__footer-links div {
        margin: 1rem 0;
    }

    .edulink__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .edulink__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}