.edulink__sectors{

}

.text2{

    margin-top: 50px;
    font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  /* or 120% */

  text-align: center;
  letter-spacing: -0.03em;
    color:#fff;

  }

  .sectors{
      background:url("../../assets/rectangle-91.svg") no-repeat;
      width: 365px;
    height: 274px;

  }
  .sectors:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
  .allSectors{

    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;


  }
  .buttons
  {
    width: 90px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    background: #4F46BA;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;

  }
  .buttons2
  {
    width: 90px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    background: #D3FCFF;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;

  }
  .buttons1
  {
    width: 90px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    background: #FFEDE8;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;

  }
    button:hover{
        transition: transform 0.2s ease-in-out;
        transform: scale(1.1);
    }
  .group1{

    width: 76px;
    height: 80px;
    background:url("../../assets/rectangle-92.svg") no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-35px;
    left:35px;


  }

  .group2{

    width: 76px;
    height: 80px;
    background:url("../../assets/rectangle-93.svg") no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-35px;
    left:35px;


  }
  .group3{

    width: 76px;
    height: 80px;
    background:url("../../assets/rectangle-94.svg") no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-35px;
    left:35px;


  }

  .info{
  letter-spacing: -0.02em;
  padding:0px 35px;
  }
  .info h1{
    font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  color: #000000;
  }
  .info .pa{
    margin-top: 10px;
    padding-right: 0px;
    font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: -0.02em;

  color: #757095;



  }
  .mycenbutton{

    display: flex;
    width: 90%;
    justify-content: center;

  }
  @media only screen and (max-width: 850px){

    .allSectors{
      flex-direction: column;
      align-items: center;
    }


    .sectors{

      margin-top: 70px;


    }




  }
