.featurethird__institutes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.featurethird__content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.2rem;
}

.featurethird__content svg{
    height: 25px;
    width: 25px;
}

.featurethird__content svg:hover{
    fill: var(--color-button-primary);
}

.featurethird__content svg#left-arrow{
    transform: rotate(180deg);
}


.featurethird__institutebox 
{
    width: 170px;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
}

.featurethird__institutes_newdiv{
    width: 100%;
    /* border: 1px solid black; */
}
.featurethird__institutebox:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.04);
    cursor: pointer;
}

.featurethird__institutebox h3{
    font-size: 16px;
}
.featurethird__institutebox h4{
    font-size: 13px;
}

.featurethird__institutebox p{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-subtext);
}