.edulink__featuresecondary{
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}

.edulink__featuresecondary-box1 {


 flex-basis: 60%;
  padding: 32px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 600px;
  margin-right: 5px;
  max-width: 1000px;
}

.edulink__featuresecondary-box2 {

  flex-basis: 50%;
  max-width: 500px;
  padding: 32px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 600px;
}

.edulink__featuresecondary-box1-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  z-index: 1;

}
.edulink__featuresecondary-box1-header h2 {
  margin: 0;
}
.edulink__featuresecondary-box1-header svg {
  height: 30px;
  width: 30px;
}

.edulink__featuresecondary-box1-header .edutemper:hover{
  cursor: pointer;
}
.filter-menu{
  z-index: 2;
  float: right;
  margin-top: 230px;
  position: absolute;
  background-color: #fff;

  border: #333 1px solid;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
}
.filter-menu__header h3{
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.filter-menu__header h3:hover{
  color: var(--color-button-primary);
}
.edutemper{
  display: flex;
  align-items: center;
  justify-content: center ;
  
}
.edutemper svg{
 
  margin-top: 5px;
  margin-right: 1rem;
}

.edutemper2{
  /* margin-top: 8px;
  margin-left: 10px; */
  align-self: flex-end;
  margin-left: 10px;
}

.edulink__featuresecondary-box1-header button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.edulink__featuresecondary-institutes{
    text-align: center;
    margin-top: 2rem;
    

}

.edulink__featuresecondary-instituteBox-info{

  height: 160px;
  padding: 10px 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}

.edulink__featuresecondary-instituteBox-info:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.02);
  cursor: pointer;
}

.edulink__featuresecondary-instituteBox-info h3{
  color: var(--color-primary-text);
}

.edulink__featuresecondary-instituteBox-info h4{
  color: var(--color-subtext);
}

.edulink__featuresecondary-instituteBox-info p{
  color: #a0a0a0;
  font-size: 12;
  font-weight: 500;
}
.edulink__featuresecondary-instituteBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.edutemper input{
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  height: 30px;
}

.edulink__featuresecondary-institute-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start ;
  padding: 1rem;
}

.edulink__featuresecondary-institute-details img {
  height: 75px;
  width: 80px;
  margin-right: 1rem !important;
  
}

.edulink__featuresecondary-institute-details h3{
  
  font-size: 24px;
  font-weight: 1000;
  
}

.edulink__featuresecondary-institute-details p{
  font-size: 19px;
  font-weight: 1000;
}

.edulink__featuresecondary-institute-apply
{

  margin: 10px;
}

.edulink__featuresecondary-institute-apply button{
    background-color: var(--color-button-primary);
    color: #fff;
    border: 1px solid var(--color-button-primary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;


}

.edulink__featuresecondary-institute-apply button:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  background-color: var(--color-button-hover);
  border: 1px solid var(--color-button-hover);
}

.edulink__featuresecondary-institute-apply h3{
  font-size: 20px;
  font-weight: 1000;
  color: red ;
}

.edulink__featuresecondary-institutes svg{
  height: 25px;
  width: 25px;
}

.edulink__featuresecondary-institutes svg:hover{
  fill: var(--color-button-primary);
}

.edulink__featuresecondary-institutes svg#down-arrow{
  margin-top: 1rem;
  transform: rotate(180deg);
}

#down-arrow-2{
  margin-top: 1rem;
  
  height: 15px;
  width: 15px;
  transform: rotate(180deg);
}

.edulink__featuresecondary-filterfields
{
  display: flex;
  justify-content: space-between;
  
 
}
.edulink__featuresecondary-filterfields input{
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  
}

@media only screen and (max-width: 800px){

  .edulink__featuresecondary-instituteBox-info{

    height: 250px;


  }

  .edulink__featuresecondary-institute-apply h3{
    font-size: 25px;
    font-weight: 1000;
  }
  .edulink__featuresecondary-instituteBox-info p{
    font-size: 12px;
    font-weight: 500;
  }
  .edulink__featuresecondary{
    flex-direction: column;

  }
  .edulink__featuresecondary-institute-details h3{
    margin: 0;
    font-size: 16px;
    font-weight: 1000;
  }

  .edulink__featuresecondary-institute-details h4{
    font-size: 12px;
    font-weight: 1000;
  }


  .edulink__featuresecondary-institute-apply button{

    font-size: 20px;


}

.edulink__featuresecondary-institute-apply h3{

  font-size: 12px;


}

.edulink__featuresecondary-instituteBox{
  display: flex;
flex-direction: column;
justify-content: center;

}
.edulink__featuresecondary-box1{

  width: 90%;


}
.edulink__featuresecondary-box2{

  margin-top: 2rem;
width: 90%;


}



}


