.edulink__header {
    font-family: var(--font-family);
    padding: 2rem 6rem;
}

.edulink__header-svg
{
  position: absolute;
  right: 0px;
  top:0px;
  z-index: 0;
}

.edulink__header-content{
  z-index: 1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.edulink__header-content h1
{
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #41BDD8 1.84%, #8C67F4 105.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 1;
}

.searchbar{

    margin-top: 20px;
    margin-left: 120px;



  }
  .mysearch{
    background: url("../../assets/search-logo.svg") no-repeat;
    background-position: 20px ;
    background-color: #fff;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 75px;
/* identical to box height, or 341% */

letter-spacing: -0.04em;

color: #808080;

    height: 64px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 200px;
    width: 740px;
    border-radius: 20px;
  }

  .search{
    position: relative;

    background: #27A6F4;
    border-radius: 20px;
    padding: 5px 22px;
    height: 64px;
    left: -124px;
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;

    color: #FFFFFF;
  }

  .explore{


    margin-top: 40px;
      font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #C8C8C8;

    }

    .temp{


      margin-top: 50px;
      width: 60%;

    }
    .sliderimage{

    height: 50%;



    }

    .slick-track {
      margin:auto;
    }

    .slick-slide img {

      align-self: center;
      display: block; /* Ensure images are treated as block elements */
      width: auto;
      margin: 0 auto;
      height: 90px;

    }

    .slick-slide {
      padding : 0px 15px;
    }

    .myimage img{
      height: 80px;
      overflow: hidden;
    }
    .myimage{

      height: 100px;

      overflow: hidden;

    }

    .leftarrow{
      background-color: transparent;
      border: none;
      margin-right: 10px;
      position:relative;
      left:-40px;
      top: -80px;
      cursor: pointer;
    }
    .leftarrow:hover{
      background-color: darkgray;
    }
    .rightarrow:hover{
      background-color: darkgray;
    }

    .rightarrow{
      background-color: transparent;
      border: none;
      margin-left: 10px;
      float: right;
      position: relative;
      right:-40px;
      top:-80px;
      cursor: pointer;


    }
    .slick-track{

      display: inline-block;
    }
    .left{
      float:left;
      margin-right: 32px;
      margin-top: 50px;
    }
    .right {
      margin-top: 50px;
      float: left;

    }
    .text2{

      margin-top: 50px;
      font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;


    }

    .sectors{
        background:url("../../assets/rectangle-91.svg") no-repeat;
        width: 365px;
    height: 274px;



    }
    .allSectors{

      margin-top: 100px;
      display: flex;
      width: 100%;
      justify-content: space-around;


    }
    .group1{

      width: 76px;
      height: 80px;
      background:url("../../assets/rectangle-92.svg") no-repeat;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top:-35px;
      left:35px;


    }

    .group2{

      width: 76px;
      height: 80px;
      background:url("../../assets/rectangle-93.svg") no-repeat;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top:-35px;
      left:35px;


    }
    .group3{

      width: 76px;
      height: 80px;
      background:url("../../assets/rectangle-94.svg") no-repeat;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top:-35px;
      left:35px;


    }

    .info{
    letter-spacing: -0.02em;
    padding:0px 35px;
    }
    .info h1{
      font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;
    }
    .info .pa{
      margin-top: 10px;
      padding-right: 50px;
      font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    letter-spacing: -0.02em;

    color: #757095;



    }
